.ForumItem {
  min-width: 100%;
  max-width: 100%;
  overflow-y: hidden;
  overflow: hidden;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
}

.ForumItem:hover {
  background-color: #394B59;
}

.ForumItem-info {
  display: flex;
  margin-top: 0.25rem;
  font-size: 0.85rem;
}

.ForumItem-name {
  font-size: 1.25rem;
  font-weight: bold;
  display: flex;
}

.ForumItem-name-text {
  overflow: hidden !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-y: hidden;
}

.ForumItem-name-flex {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ForumItem-tags {
  margin-left: 0.25rem;
  margin-top: auto;
  margin-bottom: auto;
}

.ForumItem-tag {
  position: relative;
  top: -2px;
  margin-right: 0.25rem;
}

.ForumItem-secondary {
  width: 10rem !important;
  padding-top: 0.75rem !important;
}

.ForumItem-rightside {
  font-size: 1rem;
  font-weight: normal;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.ForumItem-right-container {
  margin-bottom: auto;
  margin-top: auto;
  display: flex;
}

.ForumItem-right-container .bp3-icon {
  height: 16px;
  margin-top: 2px !important;
}

.ForumItem-replies {
  margin-left: 0.25rem;
}

.ForumItem-stickied {
  color: #3dcc91;
}

.ForumItem-stickied-pin {
  margin-bottom: 0.25rem;
}

.ForumItem-info-icon {
  margin-right: 0.35rem;
}

.ForumItem-info-icon-2 {
  margin-left: 0.35rem;
}

@media only screen and (max-width: 600px) {
  .ForumItem {
    padding: 0.5rem 0;
  }
  .ForumItem:hover {
    background-color: #00000000;
  }
}