.ForumThread-name {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.ForumThread-reply {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.bp3-dark .ForumThread-reply-editor .CodeMirror {
  color: #ffffff;
  caret-color: #ffffff;
  background-color: #30404d;
  border: 1px #394B59 solid;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem
}

.bp3-dark .ForumThread-reply-editor .editor-toolbar {
  border-top: 1px #394B59 solid;
  border-left: 1px #394B59 solid;
  border-right: 1px #394B59 solid;
  background-color: #30404d;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem
}

.bp3-dark .ForumThread-reply-editor .editor-toolbar i.separator {
  border-bottom: 0px;
  border-left: 0px;
  border-top: 0px;
  border-right: 1px solid rgba(16, 22, 26, 0.15);
  border-right-color: rgba(16, 22, 26, 0.15);
  margin: 5px;
  border-color: rgba(16, 22, 26, 0.4);
  width: 0;
}

.bp3-dark .ForumThread-reply-editor .editor-toolbar button:hover {
  border-bottom: 0px;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  background-color: rgba(138, 155, 168, 0.15);;
}

.pagination {
  padding-left: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; 
}

.pagination-link {
  color: #ffffff !important;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  padding-left: 12px;
}

.pagination-link:hover {
  text-decoration: none;
}

.pagination-button {
  padding: 0 !important;
}

.pagination-movement {
  padding-left: 2.5px !important;
}

.emoji-mart-preview {
  display: none
}