.ForumComponent-header {
  padding-top: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.ForumComponent-flex {
  display: flex;
}

.ForumComponent-item-container {
  min-width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
}

.ForumComponent-buttons {
  margin-left: -0.5rem;
}

.ForumComponent-container {
  margin: auto;
  min-width: 100%;
  max-width: 100%;
}

.ForumComponent-loadmore:hover {
  background-color: #293742 !important;
  cursor: initial !important;
}

.ForumComponent-loadmore-text {
  display: inline-block;
  margin-top: 0.5rem;
  margin-left: 0.25rem
}

.ForumThreadItem-text p:last-of-type {
  margin-bottom: 0;
}

.ForumThreadItem-mentioned {
  background-color: rgba(217, 130, 43, 0.25);
}

@media only screen and (min-width: 600px) {
  .Planet-contentcontainer-redesign .ForumComponent-title {
    font-size: 3.0rem; 
    font-weight: bold;
    margin-top: 1.25rem;
    margin-bottom: 0.65rem;
  } 
  .Planet-contentcontainer-redesign .ForumComponent {
    margin-top: 1rem;
    max-width: 75vw;
    min-width: 75vw;
    margin-left: auto;
    margin-right: auto;
  }
  .ForumComponent-flex {
    margin-bottom: 0.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .ForumComponent-title {
    display: none;
  }

  .ForumComponent  {
    margin-top: 1rem;
    max-width: 90vw;
    min-width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }
}