.MainSidebar {
  min-width: 12.5rem;
  max-width: 12.5rem;
}

.MainSidebar-menu {
  background-color: #394b59 !important;
  height: 100vh;
  border-radius: 0 !important;
}

.MainSidebar-menu-logo {
  font-size: 1.5rem !important;
  font-weight: bold;
  padding: 5px 7px;
  cursor: pointer;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

.MainSidebar-version {
  font-size: 0.75rem;
  display: block;
}

.version-warning-icon {
  margin-left: 0.25rem;
  margin-bottom: 0.25rem;
}
