.PlanetSidebar-switcher {
  max-width: 12.5rem;
  min-width: 12.5rem;
}

.PlanetSidebar-add-content .bp3-menu {
  padding: 0;
  padding-top: 0.5rem;
}

.PlanetSidebar-add-content .bp3-input {
  width: 100%;
}
