.ChannelManager-channel:first-of-type {
  border-top: 0.1rem solid #394B59;
  padding-top: 0.35rem;
}

.ChannelManager-channel {
  padding-left: 0.15rem;
  padding-right: 0.15rem;
  margin-top: 0.35rem;
  padding-bottom: 0.3rem;
  border-bottom: 0.1rem solid #394B59;
}

.ChannelManager-channel-top {
  display: flex;
}

.ChannelManager-channel-name {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 1.05rem;
}

.ChannelManager-channel-topic {
  margin-top: 0.15rem;
}

.ChannelManager-button {
  margin-left: -0.5rem;
}