.ChatComponent {
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  padding: 0.5rem 0;
}

.ChatComponent-header {
  display: flex;
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-bottom: 1px solid #394B59;
  padding-bottom: 0.5rem;
}

.ChatComponent-header-left {
  display: flex;
  margin-right: auto;
}

.ChatComponent-header-topic {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0.6rem;
}

.ChatComponent-header-topic-unset {
  color: #8A9BA8;
}

.ChatComponent-channel-switcher {
  font-weight: bold;
}

.ChatComponent-unread {
  border-radius: 50%;
  height: 0.5rem;
  width: 0.5rem;
  margin-top: 0.425rem;
  background-color: #738694;
}

.ChatComponent-mentioned {
  background-color: #DB3737;
}

.ChatComponent-header-topic-edit {
  margin-left: 0.3rem;
}