.PageComponent {
  position: relative;
  overflow-wrap: anywhere;
}

.PageComponent-edit-button {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  opacity: 0.75; 
}

.PageComponent-save-button {
  position: absolute;
  z-index: 1;
  right: 0.5rem;
  top: 0.5rem;
}

.fa {
  color: #a7b6c2;
}

.bp3-dark .PageComponent .CodeMirror {
  color: #ffffff;
  caret-color: #ffffff;
  background-color: #30404d;
  border: 1px #394B59 solid;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem
}

.bp3-dark .PageComponent .editor-toolbar {
  border-top: 1px #394B59 solid;
  border-left: 1px #394B59 solid;
  border-right: 1px #394B59 solid;
  background-color: #30404d;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem
}

.bp3-dark .PageComponent .editor-toolbar i.separator {
  border-bottom: 0px;
  border-left: 0px;
  border-top: 0px;
  border-right: 1px solid rgba(16, 22, 26, 0.15);
  border-right-color: rgba(16, 22, 26, 0.15);
  margin: 5px;
  border-color: rgba(16, 22, 26, 0.4);
  width: 0;
}

.bp3-dark .PageComponent .editor-toolbar button:hover {
  border-bottom: 0px;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  background-color: rgba(138, 155, 168, 0.15);;
}