.Settings {
  background-color: #293742;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.Settings-header {
  padding-right: calc(50% - 37.5vw);
  padding-left: calc(50% - 37.5vw);
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-size: 3rem;
  font-weight: bold;
  background-color: #30404d;
}

.Settings-page-header {
  font-size: 3.0rem; 
  font-weight: bold;
  margin-top: 1.25rem;
  margin-bottom: 0.65rem;
} 

.Settings-container {
  width: 75vw;
  height: 100%;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.Settings-profilepic {
  width: 8.5rem;
  margin: 0.75rem 0;
  height: 8.5rem;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #394B59;
  cursor: pointer;
  position: relative;
}

.Settings-profilepic img {
  width: 8.5rem;
  height: 8.5rem;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

.Settings-uploadpfp {
  display: none;
  color: #ffffff;
}

.Settings-profilepic:hover .Settings-uploadpfp {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Settings-table-topbar {
  display: flex;
}

.Settings-table-number {
  margin-top: 0.2rem;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #BFCCD6;
  margin-right: auto;
}

.Settings-table {
  margin-top: 0.5rem;
}

.Settings-row {
  border-top: 1px #202B33 solid;
  padding: 0.5rem 0.1rem;
  width: 100%;
  display: flex;
}

.Settings-row-icon {
  height: 1.65em;
  width: 1.65em;
}

.Settings-row-text {
  margin-top: 0.1rem;
  margin-left: 0.5rem;
}

.Settings-row-button {
  margin-left: auto;
}

.Settings-row:last-of-type {
  border-bottom: 1px #202B33 solid;
}

.Settings-subheader {
  font-size: 1.15rem;
}