.TFAWizard-panel {
  min-height: 12rem;
  padding: 1rem;
}

.TFAWizard-panel p {
  margin-top: 0.5rem;
}

.TFAWizard-qrcode-container {
  display: flex;
}

.TFAWizard-qrcode-text {
  margin-left: 0.75rem;
  overflow: hidden;
  overflow-wrap: break-word;
}

.TFAWizard-qrcode-header {
  font-weight: bold;
  font-size: 1rem;
}

.TFAWizard-qrcode-backuptext {
  margin-top: 0.5rem;
}