.MessageView {
  display: flex;
  flex-direction: column;
  height: calc(100% - 2rem);
}

.MessageView-message-container {
  display: block;
  display: flex;
  max-height:  100%;
  flex-direction: column-reverse;
  overflow: scroll;
  margin-bottom: -0.75rem;
  height: 100%;
}

.MessageView-messages {
  display: flex;
  flex-direction: column-reverse;
  padding: 0.35rem 0 ;
  min-height: 100%;
}

.MessageView-intro {
  height: min-content;
  margin-top: auto;
  margin-bottom: 0.5rem;
}