.MessageView {
  display: flex;
  flex-direction: column;
  height: calc(100% - 2rem);
}

.MessageView-message-container {
  display: block;
  display: flex;
  max-height:  100%;
  flex-direction: column-reverse;
  overflow-y: scroll;
  height: 100%;
  scrollbar-color: #394B59 #202B33;
  overflow-x: hidden;
}

.MessageView-messages {
  display: flex;
  flex-direction: column-reverse;
  min-height: 100%;
  margin: 0.75rem 0;
}

.MessageView-intro {
  height: min-content;
  margin-top: auto;
  margin-bottom: 0.5rem;
}