.Message {
  display: flex;
  position: relative;
  width: 100%;
  margin-top: 0.75rem;
  padding-top: 0.1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.1rem;
}

.Message p {
  margin: 0.1rem 0;
}

.Message-combined {
  margin-top: 0;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  padding-left: 3.8rem;
}

.Message-pfp {
  height: 2.3rem;
  width: 2.3rem;
  margin-right: 0.5rem;
  border-radius: 50%;
  background-color: #394B59;
  cursor: pointer;
}

.Message-header {
  margin-bottom: 0.15rem;
}

.Message-header-username {
  margin-right: 0.35rem;
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
}

.Message-header-date {
  color: #BFCCD6;
  display: inline-block;
}

.Message-buttons {
  display: none;
  position: absolute;
  right: 1rem;
  top: -0.5rem;
}

.Message:hover .Message-buttons {
  display: block;
}

.Message:hover {
  background-color: #202B33;
}

.Message-edit-textarea {
  width: 100%;
  resize: none;
}

.Message-right {
  width: 100%;
}

.Message-body {
  width: 100%;
}

.Message-markdown-wrapper {
  display: inline-block;
}

.Message-body-edited {
  display: inline-block;
  color: #BFCCD6;
  margin-left: 0.25rem;
}