.Message {
  display: flex;
  position: relative;
  width: 100%;
  padding-top: 0.55rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.Message-pfp {
  height: 2.3rem;
  width: 2.3rem;
  margin-right: 0.5rem;
  border-radius: 50%;
  background-color: #394B59;
}

.Message-header-username {
  margin-right: 0.35rem;
  display: inline-block;
  font-weight: bold;
}

.Message-header-date {
  color: #BFCCD6;
  display: inline-block;
}

.Message-buttons {
  display: none;
  position: absolute;
  right: 1rem;
  top: -0.5rem;
}

.Message:hover .Message-buttons {
  display: block;
}

.Message:hover {
  background-color: #202B33;
}