.Login {
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  height: 100vh;
}

.Login-container {
  margin-bottom: auto;
  margin-top: auto;
  display: flex;
}

.Login-input {
  display: block;
  margin-bottom: 0.65rem;
}

.Login-left {
  margin-left: 0.5rem;
  margin-right: 0.35rem;
}

.Login-center {
  margin-left: 0.5rem;
  margin-left: 0.35rem;
}

.Login-center input {
  width: 100%;
}

.Login-center button {
  margin-left: auto !important;
  margin-right: 0.05rem;
  display: block;
}

.Login-right {
  margin-left: 0.35rem;
  margin-right: 0.5rem;
}

.Login-header {
  margin-bottom: 0.65rem !important;
}

@media only screen and (max-width: 600px) {
  .Login-container {
    flex-direction: column;
  }
}

.Login-recaptcha {
  transform:scale(0.78);
  transform-origin:0 0;
  margin-bottom: -0.5rem;
}