.WikiComponent-container {
  margin-top: 1rem;
  display: flex;
  position: relative;
}

.WikiComponent-sidebar {
  min-width: 15rem;
  max-width: min-content;
  transition: 0.2;
}

.WikiComponent-main {
  margin-left: 1rem;
  width: 100%;
  overflow-x: hidden;
}

.WikiComponent-main code {
  overflow-x: hidden;
  white-space: normal;
  word-wrap: none;
  display: inline-block;
}

.WikiComponent-buttons {
  margin-top: 0.35rem;
}

.WikiComponent-header {
  margin-bottom: 0.5rem !important;
}

.WikiComponent-mobile-button {
  display: none;
}

.WikiComponent-sidebar-mobile {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -0.5rem;
  z-index: 2;
}

@media only screen and (max-width: 600px) {
  .WikiComponent-mobile-button {
    display: inline-block;
    margin-right: 0.5rem;
    padding-left: 0.9rem;
    margin-top: -0.15rem;
  }
  .WikiComponent-sidebar-hidden {
    display: none;
    height: 1rem !important;
  }
  .WikiComponent-main {
    margin-left: 0 !important;
  }
  .WikiComponent-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
  }
}