@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

.App.bp3-dark {
  background-color: #30404d;
  color: #ffffff;
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.Unsupported {
  background-color: rgba(219, 55, 55, 0.25);
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  text-align: center;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.Unsupported-link {
  pointer-events: all;
}

.CodeMirror-line {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.editor-preview-full {
  background-color: #30404d !important;
}

/* TODO: remove and replace with Slate based editor */

.dark .CodeMirror {
  color: #ffffff;
  caret-color: #ffffff;
  background-color: #30404d00;
  border: 1px #394B59 solid !important;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem
}

.dark .editor-toolbar {
  border-top: 1px #394B59 solid;
  border-left: 1px #394B59 solid;
  border-right: 1px #394B59 solid;
  background-color: #30404d00;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem
}

.dark .editor-toolbar i.separator {
  border: 0 !important;
  margin: 0px;
  width: 0;
}

.dark .editor-toolbar button:hover {
  border-bottom: 0px;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  background-color: rgba(138, 155, 168, 0.15);;
}

/* animations for the dialogs */
.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 150ms ease;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}
