body {
  overflow: hidden;
}

.CodeMirror-line {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.editor-preview-full {
  background-color: #30404d !important;
}

/* TODO: remove and replace with Slate based editor */

.dark .CodeMirror {
  color: #ffffff;
  caret-color: #ffffff;
  background-color: #30404d00;
  border: 1px #394B59 solid !important;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem
}

.dark .editor-toolbar {
  border-top: 1px #394B59 solid;
  border-left: 1px #394B59 solid;
  border-right: 1px #394B59 solid;
  background-color: #30404d00;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem
}

.dark .editor-toolbar i.separator {
  border: 0 !important;
  margin: 0px;
  width: 0;
}

.dark .editor-toolbar button:hover {
  border-bottom: 0px;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  background-color: rgba(138, 155, 168, 0.15);;
}

/* animations for the dialogs */
.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 150ms ease;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

/* override tailwind's defaults */
a.link-button {
  color: inherit !important;
  text-decoration: inherit !important;
}

body {
  /* this importantly only changes the text size, and not the scaling */
  font-size: 14px;
  letter-spacing: 0;
  line-height: 1.28581;
  text-transform: none;
  @apply bg-gray-50
}

p {
  margin-bottom: 10px;
  margin-top: 0;
}

/* make scrollbars consistent across browsers */
::-webkit-scrollbar {
  width: 0.75rem !important;
}

::-webkit-scrollbar-thumb {
  border: 3px solid rgba(0, 0, 0, 0);
  border-radius: 0.5rem;
  background-clip: padding-box;
  @apply bg-gray-400 dark:bg-gray-600;
}

/* stylings required for markdown to display properly */
a {
  @apply text-blue-600 dark:text-blue-400 underline;
}

h1 {
  @apply text-4xl font-extrabold
}

h2 {
  @apply text-3xl font-extrabold
}

h3 {
  @apply text-2xl font-bold
}

h4 {
  @apply text-xl font-bold
}

h5 {
  @apply text-base font-bold
}

blockquote {
  @apply pl-2 border-l-4 border-gray-300 dark:border-gray-600
}

ul {
  @apply list-disc mb-2
}

li.task-list-item {
  @apply list-none
}

ol {
  @apply list-decimal mb-2
}

table {
  @apply border border-gray-400 dark:border-gray-500 w-max table-auto border-collapse mb-3
}

td {
  @apply border border-gray-400 dark:border-gray-500 py-1.5 px-2
}

th {
  @apply border border-gray-400 dark:border-gray-500 py-1.5 px-2 bg-gray-200 dark:bg-gray-700
}

.hint {
  @apply px-3 py-3 rounded flex text-black dark:text-white
}

.warn {
  @apply bg-yellow-300 dark:bg-yellow-700
}

.error {
  @apply bg-red-300 dark:bg-red-700
}

.tip {
  @apply bg-blue-300 dark:bg-blue-700
}

code {
  @apply bg-gray-200 dark:bg-gray-700 font-mono p-0.5 inline rounded ring-gray-300 dark:ring-gray-600 ring-2 shadow-inner 
}

pre code {
  @apply bg-transparent p-0 rounded-none ring-0 shadow-none
}

pre {
  @apply bg-gray-200 dark:bg-gray-700 font-mono p-2 mb-1 rounded ring-gray-300 dark:ring-gray-600 ring-2 shadow-inner w-full
}
