body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a.link-button {
  color: inherit !important;
  text-decoration: inherit !important;
}

h1 {
  margin: 0 !important;
  margin-bottom: 0.25rem;
}

h2 {
  margin: 0  !important;
  margin-bottom: 0.15rem;
}

h3 {
  margin: 0  !important;
  margin-bottom: 0.1rem;
}

img {
  max-height: 50vh;
  max-width: 75vw;
}

.editor-preview-full {
  background-color: #30404d !important;
}

blockquote {
  border-left: 5px #18202655 solid;
  padding-left: 0.4rem;
  margin: 0;
}

.dumb-workaround-for-control-group {
  margin-top: 0px !important;
}

.dumb-workaround-fcg-padding {
  margin-top: 5px !important;
}

.menu-input {
  display: block;
  margin-bottom: 0.5rem;
}

.menu-button {
  margin-right: 0.5rem;
}

.menu-override {
  width: 100% !important;
}

.menu-form {
  padding: 0.5rem;
}

.spinner-inline {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

pre {
  font-family: monospace;
  text-transform: none;
  background: hsla(0,0%,100%,.7);
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 0 1px rgba(16,22,26,.15);
  box-shadow: inset 0 0 0 1px rgba(16,22,26,.15);
  color: #182026;
  display: block;
  font-size: 13px;
  line-height: 1.4;
  margin: 10px 0;
  padding: 13px 15px 12px;
  word-break: break-all;
  word-wrap: break-word;
}

.bp3-dark pre {
  background: rgba(16,22,26,.3);
  -webkit-box-shadow: inset 0 0 0 1px rgba(16,22,26,.4);
  box-shadow: inset 0 0 0 1px rgba(16,22,26,.4);
  color: #f5f8fa;
}

.CodeMirror-line {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}