.Planet {
  background-color: #293742;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.Planet-header {
  padding-right: calc(50% - 37.5vw);
  padding-left: calc(50% - 37.5vw);
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-size: 3rem;
  font-weight: bold;
  min-height: 9rem;
  max-height: 9rem;
  background-color: #30404d;
}

.Planet-contentcontainer {
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 100%;
  overflow-x: visible;
}

.Planet-contentcontainer-skeleton {
  height: 100vh;
}

.Planet-navbar {
  margin-top: 0.5rem;
  box-shadow: none !important;
  background-color: #293742 !important;
  overflow-x: scroll;
  overflow-y: hidden;
  width: calc(75vw + 2rem);
  min-height: 3rem;
  padding-bottom: 1.75rem;
  scrollbar-width: none;
  margin-left: auto;
  margin-right: auto;
}

.Planet-navbar::-webkit-scrollbar {
  display: none;
}

.Planet-navbar-content {
  width: max-content;
}

.Planet-navbar-add-content {
  padding: 0.5rem;
}

.Planet-navbar-add-content .bp3-menu {
  padding: 0;
  padding-top: 0.5rem;
}

.Planet-navbar-add-content .bp3-input {
  width: 100%;
}


.Planet-header-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Planet-header-name-skeleton {
  margin-top: 0.5rem;
  height: 3.25rem;
  width: 17.5rem;
  margin-bottom: 0.5rem;
}

.Planet-header-infostrip-skeleton {
  margin-top: 0rem;
  height: 1.5rem;
  width: 20rem;
}

.Planet-navbar-button-skeleton {
  margin-right: 0.75rem;
}

.Planet-textarea {
  width: 100%;
  resize: none;
}

@media only screen and (max-width: 600px) {
  .Planet-contentcontainer {
    width: 90vw
  }
  .Planet-navbar {
    width: 100vw;
  }
  .Planet-navbar::-webkit-scrollbar {
    display: none;
  }
  .Planet-header {
    padding-right: calc(50% - 45vw);
    padding-left: calc(50% - 45vw); 
  }
}