.GAdminSidebar-menu {
  border-radius: 0 !important;
  height: 100vh;
  background-color: #394b59 !important;
}

.GAdminSidebar {
  min-width: 12.5rem;
  max-width: 12.5rem;
}

.GAdminSidebar-menu-logo {
  font-size: 1.5rem !important;
  font-weight: bold;
  padding: 5px 7px;
  cursor: pointer;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

.GAdminSidebar-menu-input {
  display: block;
  margin-bottom: 0.5rem;
}

.GAdminSidebar-menu-button {
  margin-right: 0.5rem;
}

.GAdminSidebar-menu-override {
  width: 100% !important;
}

.GAdminSidebar-version {
  font-size: 0.75rem;
  margin-left: 0.25rem;
}