.GAdmin-page {
  background-color: #293742;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.GAdmin-page-header {
  padding-right: calc(50% - 37.5vw);
  padding-left: calc(50% - 37.5vw);
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-size: 3rem;
  font-weight: bold;
  background-color: #30404d;
}

.GAdmin-page-container {
  width: 75vw;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.GAdmin-page-table {
  width: 100%;
}

.GAdmin-page-buttongroup {
  margin-top: 1rem;
  margin-left: 7.5vw;
}