.Report-user {
  margin-left: 1.25rem;
  margin-top: 1rem;
  margin-right: 1.25rem;
}
.Report-profilepic {
  background-color: #394B59;
  cursor: pointer;
  display: inline-block !important;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 0.25rem;
}
.Report-profilepic img {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 0.25rem;
}
.Report-username {
  display: inline-block;
  font-size: 1.1rem;
  font-weight: bold;
  margin-left: 0.35rem;
  margin-top: -0.1rem;
}
.Report-user-content {
  display: flex;
  margin-top: 0.25rem;
}
.Report-userdate {
  margin-left: 0.25rem;
  margin-top: 0.125rem;
  color: #a7b6c2;
}
.Report-header {
  margin-left: 1.25rem;
  margin-top: 1rem;
  margin-right: 1.25rem;
  display: flex;
}
.Report-header-text {
  font-size: 1.35rem;
  font-weight: bold;
}
.Report-header-date {
  margin-left: 0.25rem;
  margin-top: 0.2275rem;
  font-size: 1.1rem;
  color: #a7b6c2;
}
.Report-header button {
  margin-left: auto;
}
.Report-object-card {
  margin-left: 1.25rem;
  margin-top: 1rem;
  margin-right: 1.25rem;
  padding: 1rem;
}
.Report-object-card-actions {
  margin-left: auto;
  width: max-content;
}
.Report-object-card-actions button {
  margin-left: 0.5rem;
}
.Report-object-card-header {
  display: flex;
  margin-bottom: 0.25rem;
}
.Report-object-card-name {
  margin-left: 0.35rem !important;
  margin-top: -0.25rem !important;
}