.FileListButton {
  border-bottom: 1px #30404d solid;
  padding: 0.5rem;
  display: flex;
}

.FileListButton:hover {
  background-color: #30404d;
}

.FileListButton-popover {
  display: inline-block;
}

.FileListButton-date {
  margin-left: auto;
}

.FileListButton-icon {
  margin-bottom: 0.1rem;
  padding-right: 0.5rem;
}

.FileListButton-date {
  display: flex;
  flex-direction: row;
}

.FileListButton-selected {
  background-color: #137CBD;
  border-bottom: 1px #106BA3 solid;
}

.FileListButton-selected:hover {
  background-color: #106BA3;
}