.FilesComponent {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.Planet-contentcontainer-redesign .FilesComponent {
  margin: 1.5rem;
  margin-top: 1.15rem;
  margin-bottom: 0rem;
  min-height: calc(100% - 1.15rem);
  min-width: calc(100% - 3rem);
  min-width: calc(100% - 3rem);
}

.FilesComponent-dragging {
  box-shadow: 0 0 3pt 2pt #3dcc91;
  padding: 1rem;
  margin: -1rem;
  padding-top: 0.5rem;
  margin-top: -0.5rem;
  cursor: copy;
}

.FilesComponent-top {
  display: flex;
}

.FilesComponent-button-container {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(12.5rem,1fr));
  gap: 1rem;
}

.FilesComponent-filebutton {
  max-height: 2.5rem;
  width: 100%;
  overflow: hidden;
}

.FilesComponent-filebutton .bp3-button-text {
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.FilesComponent-filebutton .bp3-button-text div {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.FilesComponent-filebutton .bp3-button-text .bp3-popover-wrapper {
  position: absolute;
  width: 100%;
  left: 0
}

.FilesComponent-file-icon {
  height: 14px;
  margin-bottom: 0.2rem !important;
}

.FilesComponent-file-icon svg {
  height: 14px !important;
}

.FilesComponent-uploading {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.FilesComponent-uploading-container {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  flex-direction: row;
}

.FilesComponent-uploading-progress {
  width: 13rem;
  transform: translateY(0.25rem);
  margin-left: 0.35rem;
  margin-right: 0.25rem;
}

.FilesComponent-uploading-icon {
  color: #a7b6c2;
  z-index: 2;
  position: relative;
}

.FilesComponent-uploading-icon:last-of-type {
  top: -1px;
}


.FilesComponent-uploading-icon-first {
  margin-left: 0.95rem;
}

.FilesComponent-breadcrumbs {
  margin-right: auto;
}

.FilesComponent-uploading-info {
  max-width: 13.5rem;
  min-width: 13.5rem;
  overflow-x: hidden;
}

.FilesComponent-uploading-info-name {
  padding-bottom: 0.35rem;
  padding-top: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.FilesComponent-uploading-info-container {
  padding: 0.5rem;
  padding-top: 0;
}

.FilesComponent-button-container .bp3-popover-wrapper .bp3-popover-target {
  width: 100%;
}

.FilesComponent-list-table {
  margin-top: 0.75rem;
  border-top: 1px #30404d solid;
  width: 100%;
}

.FilesComponent-breadcrumb {
  max-height: 1.2rem;
  overflow: hidden;
  word-wrap: none;
  white-space: nowrap;
}

.FilesComponent-filebutton-selected {
  background-color: #137CBD !important;
}

.FilesComponent-filebutton-selected:hover {
  background-color: #106BA3 !important;
}

.FilesComponent-dummytarget {
  pointer-events: none;
}

.FilesComponent-readme .TextPreview {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.Planet-contentcontainer-redesign .FilesComponent-readme .TextPreview {
  margin-top: 1rem;
  margin-bottom: 3.25rem;
}

.Planet-contentcontainer-redesign .FilesComponent-statusbar {
  min-width: calc(100% + 3rem);
  max-width: calc(100% + 3rem);
  margin-left: -1.5rem;
}

.FilesComponent-statusbar {
  display: flex;
  margin-top: auto;
  position: sticky;
  padding: 0.5rem;
  bottom: 0rem;
  min-width: calc(100% + 0.3rem);
  max-width: calc(100% + 0.3rem);
  background-color: rgb(41, 55, 66);
  margin-left: -0.15rem;
  border-top: 1px #30404d solid;
  z-index: 0;
}

.FilesComponent-statusbar-objectinfo .bp3-icon {
  margin-right: 0.3rem;
  position: relative;
  top: -1px;
}

.FilesComponent-statusbar-objectinfo {
  z-index: 2;
  position: relative;
}

.FilesComponent-statusbar-objectinfo span {
  margin-right: 0.5rem;
}


.FilesComponent-drop-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 12;
  pointer-events: none;
}

.FilesComponent-drop-icon h2 {
  margin-top: 1rem !important;
  pointer-events: none;
}

.FilesComponent-drop-bg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 11;
  background-color: #30404dcc;
}

.FilesComponent-top-actions {
  margin-left: -0.25rem;
}

.FilesComponent-uploading-info-top {
  display: flex;
}

.FilesComponent-uploading-info-cancel {
  margin-left: auto;
  margin-top: 0.5rem;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .FilesComponent-statusbar {
    min-width: calc(100vw - 3rem) !important;
    max-width: calc(100vw - 3rem) !important;
  }
}