.FileView {
  margin: auto;
  display: flex;
  flex-direction: row;
}

.FileView-container {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.FileView-icon {
  margin: auto;
}

.FileView-name {
  margin: 0.5rem auto;
  font-size: 1.25rem;
}

.FileView-button {
  margin: auto;
  width: min-content;
}


.FileView-preview-audio {
  display: block;
  width: 400px;
}

.FileView-preview {
  max-width: 75vw;
  max-height: 50vh;
  object-fit: contain;
}

.FileView-upload-info {
  margin: 0.5rem auto;
  margin-top: 0;
}

.FileView-preview-pdf {
  width: 50vw;
  height: 50vh;
}